@media screen and (min-width: 1000px) {
  .intro h {
    top: 80px;
    right: 700px;
    font-size: 1.5em;
    font-family: 'monospace', light;
    font-weight: 500;
    color: var(--text-color);
  }

  .pic {
    width: 500px;
    height: 500px;
    top: -200px;
    right: 750px;
    display: flex; 
    align-items: center;
  }


  .intro p, 
  .intro p1, 
  .intro p2, 
  .intro p3, 
  .intro p4, 
  .intro p5 {
    text-align: left;
    font-size: 0.5em;
    font-family: 'monospace', light;
    font-weight: 500;
    color: var(--text-color);
  }


  .intro p { top: 130px; right: 500px; font-size: 0.6em; } /* Larger size for primary paragraph */
  .intro p1 { top: 300px; right: 500px; }
  .intro p2 { top: 350px; right: 500px; }
  .intro p3 { top: 400px; right: 500px; }
  .intro p4 { top: 450px; right: 500px; }
  .intro p5 { top: 500px; right: 500px; }
}
