.btn-variable {
  color: var(--button-text);
  background-color: var(--button-background);
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 0.375rem; 
  padding: 0.375rem 0.75rem; 
  font-size: 0.875rem; 
  display: inline-block;
  user-select: none;
}

.btn-variable:hover {
  background-color: var(--button-background-swapped);
  color: var(--button-text-swapped);
}
