.color-text-button {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    font-family: monospace, light;
    font-size: 0.4em;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  