.navbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.5em;
    font-family: 'monospace', 'light';
    color: var(--text-color);
}

.links a {
    margin: 0 1rem;
    color: var(--text-color);
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.theme-toggle {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--button-background);
    font-family: 'monospace', 'light';
    font-size: 0.8em;
    border-radius: 20px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .theme-toggle:hover {
    background-color: #444;
  }
  