
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #def0f5;
  --text-color: #241c10;
  --link-color: #241c10;
  --button-background: #def0f5;
}

[data-theme="dark"] {
  --background-color: #241c10;
  --text-color: #def0f5;
  --link-color: #def0f5;
  --button-background: #241c10;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

button {
  background-color: var(--button-background);
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid white; 
  animation: typing 2s steps(19) forwards, blink 1s step-end infinite;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}
